CONTAINER_NAME=tinyauth
PANEL_APP_PORT_HTTP=3000
TINYAUTH_APP_URL=http://tinyauth.localhost:3000
TINYAUTH_ADMIN_USERNAME=admin
TINYAUTH_ADMIN_PASSWORD=Tinyauth_Admin_Change_Me_2026!
TINYAUTH_SECURE_COOKIE=false
