CONTAINER_NAME=owncast
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8080
PANEL_APP_RTMP_BIND_ADDRESS=0.0.0.0
PANEL_APP_PORT_RTMP=1935
OWNCAST_ADMIN_PASSWORD=generate
OWNCAST_STREAM_KEY=generate
APP_DATA_DIR=./data
