CONTAINER_NAME=
PANEL_APP_PORT_HTTP=80
CONFIG_PATH=./data/config
APP_KEY=base64:dGVzdGluZy1saW51eHNlcnZlci1hcHBzLTEyMzQ1Njc=
APP_URL=
TIME_ZONE=Asia/Shanghai
DISPLAY_TIMEZONE=Asia/Shanghai
SPEEDTEST_SCHEDULE=0 */6 * * *
SPEEDTEST_SERVERS=
PRUNE_RESULTS_OLDER_THAN=0
