CONTAINER_NAME=note-mark
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8080
NOTE_MARK_PUBLIC_URL=http://127.0.0.1:8080
APP_DATA_DIR=./data
NOTE_MARK_SECRET_SEED=generate
NOTE_MARK_AUTH_SECRET=
ENABLE_INTERNAL_SIGNUP=true
ENABLE_INTERNAL_LOGIN=true
ENABLE_ANONYMOUS_USER_SEARCH=true
FILE_SIZE_LIMIT=12M
LOGGING_LEVEL=info
TZ=Asia/Shanghai
