CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8000
PANEL_APP_PORT_SMTP=2525
CONFIG_PATH=./data/config
SECRET_KEY=
SITE_ROOT=http://127.0.0.1:8000
SITE_NAME=Healthchecks
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=
TIME_ZONE=Asia/Shanghai
