CONTAINER_NAME="diun"
TZ="Asia/Shanghai"
LOG_LEVEL="info"
DIUN_WATCH_WORKERS="20"
DIUN_WATCH_SCHEDULE="0 */6 * * *"
DIUN_WATCH_JITTER="30s"
DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT="false"
DIUN_PROVIDERS_DOCKER_WATCHSTOPPED="false"
