CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8200
CONFIG_PATH=./data/config
BACKUPS_PATH=./data/backups
SOURCE_PATH=./data/source
TIME_ZONE=Asia/Shanghai
SETTINGS_ENCRYPTION_KEY=Duplicati2026Key
DUPLICATI_WEBSERVICE_PASSWORD=linuxserver-change-me
CLI_ARGS=

