CONTAINER_NAME=zipline
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=3000
POSTGRES_DB=zipline
POSTGRES_USER=zipline
POSTGRES_PASSWORD=generate
CORE_SECRET=generate
FILES_MAX_FILE_SIZE=100mb
APP_DATA_DIR=./data
