PANEL_APP_PORT_HTTP=13000
TZ=Asia/Shanghai
APP_DATA_DIR=./data
NEXTAUTH_URL=http://1.2.3.4:13000
NEXTAUTH_SECRET=karakeep_nextauth_secret
MEILI_MASTER_KEY=karakeep_meili_master_key
DISABLE_SIGNUPS=false
OPENAI_API_KEY=
CONTAINER_NAME=karakeep
