PANEL_APP_PORT_HTTP=18081
TZ=Asia/Shanghai
APP_DATA_DIR=./data
WEBLATE_SITE_TITLE=Weblate
WEBLATE_SITE_DOMAIN=localhost
WEBLATE_ALLOWED_HOSTS=*
WEBLATE_ADMIN_NAME=Weblate Admin
WEBLATE_ADMIN_EMAIL=weblate@example.com
WEBLATE_ADMIN_PASSWORD=weblate_admin_password
WEBLATE_SERVER_EMAIL=weblate@example.com
WEBLATE_DEFAULT_FROM_EMAIL=weblate@example.com
WEBLATE_REGISTRATION_OPEN=1
POSTGRES_PASSWORD=weblate_db_password
WEBLATE_EMAIL_HOST=127.0.0.1
WEBLATE_EMAIL_HOST_USER=
WEBLATE_EMAIL_HOST_PASSWORD=
CONTAINER_NAME=weblate
