CONTAINER_NAME=
PANEL_APP_PORT_HTTP=9091
PANEL_APP_PORT_PEER_TCP=51413
PANEL_APP_PORT_PEER_UDP=51413
CONFIG_PATH=./data/config
DOWNLOADS_PATH=./data/downloads
WATCH_PATH=./data/watch
TIME_ZONE=Asia/Shanghai
