CONTAINER_NAME=
PANEL_APP_PORT_HTTP=80
CONFIG_PATH=./data/config
APP_KEY=base64:replace-with-generated-app-key
APP_URL=
DB_CONNECTION=sqlite
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
TIME_ZONE=Asia/Shanghai
DISPLAY_TIMEZONE=Asia/Shanghai
SPEEDTEST_SCHEDULE=0 */6 * * *
SPEEDTEST_SERVERS=
PRUNE_RESULTS_OLDER_THAN=0
