PANEL_APP_PORT_HTTP=18088
PANEL_APP_PORT_ADMIN=18089
DOMAIN_CLIENT=http://127.0.0.1:18088
DOMAIN_SERVER=http://127.0.0.1:18088
ADMIN_PANEL_URL=http://127.0.0.1:18089
TZ=Asia/Shanghai
APP_DATA_DIR=./data
LIBRECHAT_APP_SECRET=librechat_app_secret
MEILI_MASTER_KEY=librechat_meili_master_key
VECTOR_DB_PASSWORD=librechat_vector_password
ALLOW_REGISTRATION=true
CONTAINER_NAME=librechat
