CONTAINER_NAME=microwarp
PANEL_APP_PORT_SOCKS5=1080
BIND_PORT=1080
SOCKS_USER=
SOCKS_PASS=
ENDPOINT_IP=
GH_PROXY=
GITHUB_TOKEN=
TAILSCALE_CIDR=100.64.0.0/10
MTU=1280
WARP_WGCF_CONF=
TZ=Asia/Shanghai
APP_DATA_DIR_1=./data
