PANEL_APP_PORT_HTTP=9000
APP_DATA_DIR=./data/storage
APP_CONFIG_DIR=./data/config
PANEL_DB_TYPE=mysql
PANEL_DB_HOST=mysql-runtime
PANEL_DB_PORT=3306
PANEL_DB_NAME=fast_note_sync
PANEL_DB_USER=fast_note_sync
PANEL_DB_USER_PASSWORD=change-me
TZ=Asia/Shanghai
CONTAINER_NAME=fast-note-sync-service-database-compose-check
