CONTAINER_NAME="mixspace"
PANEL_APP_PORT_HTTP="40203"
ALLOWED_ORIGINS="example.com"
ENCRYPT_ENABLE="false"
ENCRYPT_KEY=""
JWT_SECRET="MxJwtSecret2026ChangeThisValue01"
PG_PASSWORD="MxPostgres2026"
TIME_ZONE="Asia/Shanghai"
SUBNET_PREFIX="10.250.0"
