CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8112
PANEL_APP_PORT_PEER_TCP=6881
PANEL_APP_PORT_PEER_UDP=6881
PANEL_APP_PORT_DAEMON=58846
CONFIG_PATH=./data/config
DOWNLOADS_PATH=./data/downloads
TIME_ZONE=Asia/Shanghai
