CONTAINER_NAME=microbin
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8080
MICROBIN_ADMIN_USERNAME=admin
MICROBIN_ADMIN_PASSWORD=generate
MICROBIN_MAX_FILE_SIZE_ENCRYPTED_MB=256
MICROBIN_MAX_FILE_SIZE_UNENCRYPTED_MB=256
APP_DATA_DIR=./data
