PANEL_APP_PORT_BOLT=7687
PANEL_APP_PORT_MONITORING=7444
PANEL_APP_PORT_HTTP=9091
MEMGRAPH_USER=memgraph
MEMGRAPH_PASSWORD=
MEMGRAPH_MEMORY_LIMIT=1024
MEMGRAPH_WORKERS=2
MEMGRAPH_SNAPSHOT_INTERVAL=300
APP_DATA_DIR=./data
CONTAINER_NAME=memgraph
