PANEL_APP_PORT_HTTP=18080
APP_DATA_DIR=./data
PUBLIC_SCHEME=http
PUBLIC_DOMAIN=127.0.0.1
TIME_ZONE=Asia/Shanghai
OPEN_UPDATE=true
UPDATE_STARTUP=true
UPDATE_INTERVAL=12
OPEN_RTMP=true
CDN_URL=
HTTP_PROXY=
CONTAINER_NAME=
