CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8000
CONFIG_PATH=./data/config
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=netbox-change-me
ALLOWED_HOST=*
DB_PASSWORD=netbox-change-me
BASE_PATH=
CSRF_TRUSTED_ORIGINS=
DB_DATA_PATH=./data/db
REDIS_DATA_PATH=./data/redis
TIME_ZONE=Asia/Shanghai
