CONTAINER_NAME=
PANEL_APP_PORT_HTTP=6875
CONFIG_PATH=./data/config
APP_URL=http://localhost:6875
APP_KEY=base64:j1wQ2YbRrQ3j0tG5h6v8cYpV1gW9mN4uQ2xZ7aE3sT8=
DB_PASSWORD=bookstack-change-me
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
