PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8923
ANUBIS_TARGET=https://example.com
ANUBIS_REDIRECT_DOMAINS=anubis.example.com
ANUBIS_DIFFICULTY=4
ANUBIS_USE_REMOTE_ADDRESS=false
ANUBIS_SERVE_ROBOTS=true
ANUBIS_COOKIE_SECURE=false
ANUBIS_WEBMASTER_EMAIL=
ANUBIS_ED25519_PRIVATE_KEY_HEX=generate
CONTAINER_NAME=1Panel-anubis
