PANEL_APP_PORT_HTTP=28080
APP_DATA_DIR=./data
PANEL_DB_TYPE=mysql
PANEL_DB_HOST=
DB_PORT=3306
PANEL_DB_NAME=dootask
PANEL_DB_USER=dootask
PANEL_DB_USER_PASSWORD=dootask-db-password
DB_PREFIX=pre_
REDIS_HOST=
REDIS_PORT=6379
PANEL_REDIS_ROOT_PASSWORD=null
REDIS_DB=0
TIMEZONE=Asia/Shanghai
DOOTASK_ADMIN_EMAIL=admin@example.com
DOOTASK_ADMIN_PASSWORD=ChangeMe123!
DOOTASK_ADMIN_NICKNAME=Administrator
CONTAINER_NAME=dootask
