CONTAINER_NAME=
PANEL_APP_PORT_HTTP=80
PANEL_APP_PORT_HTTPS=443
APP_URL=http://localhost
SPOTIFY_PUBLIC=replace-with-client-id
SPOTIFY_SECRET=replace-with-client-secret
SPOTIFY_API_DELAY_MS=2000
CORS=all
MONGO_DATA_PATH=./data/mongo
TIME_ZONE=Asia/Shanghai
