PANEL_APP_PORT_HTTP=9000
PANEL_APP_PORT_PG=8812
QUESTDB_HTTP_USER=admin
QUESTDB_HTTP_PASSWORD=replace-with-at-least-32-safe-characters
QUESTDB_PG_USER=admin
QUESTDB_PG_PASSWORD=replace-with-another-32-safe-characters
QUESTDB_TELEMETRY_ENABLED=false
APP_DATA_DIR=./data
CONTAINER_NAME=questdb
