PANEL_APP_PORT_HTTP=7880
PANEL_APP_PORT_RTC_TCP=7881
PANEL_APP_PORT_RTC_UDP=7882
LIVEKIT_API_KEY=livekit_api_key
LIVEKIT_API_SECRET=replace-with-a-long-random-secret
LIVEKIT_USE_EXTERNAL_IP=true
CONTAINER_NAME=
