CONTAINER_NAME=
PANEL_APP_PORT_HTTPS=8443
PANEL_APP_PORT_STUN=3478
PANEL_APP_PORT_DISCOVERY=10001
PANEL_APP_PORT_INFORM=8080
CONFIG_PATH=./data/config
MONGO_DATA_PATH=./data/mongo
MONGO_PASS=unifi-change-me
MEM_LIMIT=1024
MEM_STARTUP=1024
TIME_ZONE=Asia/Shanghai
