CONTAINER_NAME=
PANEL_APP_PORT_HTTPS=8443
PANEL_APP_PORT_STUN=3478
PANEL_APP_PORT_DISCOVERY=10001
PANEL_APP_PORT_INFORM=8080
CONFIG_PATH=./data/config
MONGO_DATA_PATH=./data/mongo
MONGO_INIT_PATH=./data/mongo-init
MONGO_USER=unifi
MONGO_PASS=unifi-change-me
MONGO_HOST=unifi-db
MONGO_PORT=27017
MONGO_DBNAME=unifi
MONGO_AUTHSOURCE=admin
MONGO_TLS=false
MEM_LIMIT=1024
MEM_STARTUP=1024
TIME_ZONE=Asia/Shanghai
