CONTAINER_NAME="wavelog"
PANEL_APP_PORT_HTTP="3792"
PANEL_DB_TYPE="mariadb"
PANEL_DB_HOST=""
PANEL_DB_PORT="3306"
PANEL_DB_NAME="wavelog"
PANEL_DB_USER="wavelog"
PANEL_DB_USER_PASSWORD=""
TZ="Asia/Shanghai"
