PANEL_APP_PORT_HTTP=8080
APP_DATA_DIR=./data
ISRVD_DATA_ABS=./data
ISRVD_ADMIN_USERNAME=admin
ISRVD_ADMIN_PASSWORD=
ISRVD_MONITOR_INTERVAL=0
ISRVD_MARKETPLACE_URL=https://apps.rehi.org
CONTAINER_NAME=isrvd
