PANEL_APP_PORT_HTTP=18083
TZ=Asia/Shanghai
APP_DATA_DIR=./data
OVERLEAF_APP_NAME=Overleaf
EMAIL_CONFIRMATION_DISABLED=true
OVERLEAF_INVITE_TOKEN_SECRET=overleaf_invite_token_secret
CONTAINER_NAME=overleaf
