CONTAINER_NAME=
PANEL_APP_PORT_HTTP=6875
CONFIG_PATH=./data/config
APP_URL=http://bookstack.example.com
APP_KEY=base64:replace-with-generated-app-key
DB_HOST=bookstack-db
DB_PORT=3306
DB_USERNAME=bookstack
DB_DATABASE=bookstack
DB_PASSWORD=replace-with-db-password
QUEUE_CONNECTION=
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
