CONTAINER_NAME=kestra
PANEL_APP_PORT_HTTP=8080
PANEL_DB_TYPE=postgresql
PANEL_DB_HOST=postgresql
PANEL_DB_PORT=5432
PANEL_DB_NAME=kestra
PANEL_DB_USER=kestra
PANEL_DB_USER_PASSWORD=replace-with-a-database-password
KESTRA_BASIC_AUTH_USERNAME=admin@kestra.local
KESTRA_BASIC_AUTH_PASSWORD=replace-with-a-strong-basic-auth-password
DATA_PATH=/opt/1panel-data/kestra
