CONTAINER_NAME=pdfding
PANEL_APP_PORT_HTTP=8000
PDFDING_HOST_NAME=*
PDFDING_SECRET_KEY=replace-with-a-random-application-secret
PDFDING_CSRF_COOKIE_SECURE=FALSE
PDFDING_SESSION_COOKIE_SECURE=FALSE
PDFDING_DISABLE_USER_SIGNUP=FALSE
PDFDING_ACCOUNT_PROTOCOL=http
TZ=Asia/Shanghai
