PANEL_APP_PORT_HTTP=18080
TZ=Asia/Shanghai
APP_DATA_DIR=./data
POSTGRES_PASSWORD=teldrive_password
JWT_SECRET=teldrive_jwt_secret
UPLOADS_ENCRYPTION_KEY=teldrive_uploads_key
ALLOWED_USERS=
TG_NTP=false
CONTAINER_NAME=teldrive
