PANEL_APP_PORT_HTTP=18080
APP_DATA_DIR=./data
PANEL_DB_TYPE=mysql
PANEL_DB_HOST=mysql
PANEL_DB_PORT=3306
PANEL_DB_NAME=jianmu
PANEL_DB_USER=jianmu
PANEL_DB_USER_PASSWORD=jianmu_db_password
TZ=Asia/Shanghai
JIANMU_API_ADMINPASSWD=jianmu_admin_password
JIANMU_API_JWTSECRET=jianmu_jwt_secret
JIANMU_WORKER_SECRET=jianmu_worker_secret
JIANMU_WORKER_ID=worker1
JIANMU_WORKER_CAPACITY=5
DOCKER_SOCK_PATH=/var/run/docker.sock
CONTAINER_NAME=jianmu
