CONTAINER_NAME=hermes-dashboard
TZ=Asia/Shanghai
APP_DATA_DIR=/opt/1panel/apps/local/hermes-agent/hermes-agent/data
HERMES_UID=10000
HERMES_GID=10000
PANEL_APP_PORT_HTTP=9119
GATEWAY_HEALTH_URL=http://172.18.0.240:8642
DASHBOARD_RUN_COMMAND=dashboard --host 0.0.0.0 --insecure
