CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8000
CONFIG_PATH=./data/config
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=netbox-change-me
ALLOWED_HOST=*
DB_NAME=netbox
DB_USER=netbox
DB_HOST=netbox-db
DB_PORT=5432
DB_PASSWORD=netbox-change-me
REDIS_HOST=netbox-redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB_TASK=0
REDIS_DB_CACHE=1
BASE_PATH=
CSRF_TRUSTED_ORIGINS=
DB_DATA_PATH=./data/db
REDIS_DATA_PATH=./data/redis
TIME_ZONE=Asia/Shanghai
