PANEL_APP_PORT_HTTP=9980
ADMIN_USERNAME=admin
ADMIN_PASSWORD=collabora_admin_password
WOPI_ALIAS_GROUP=
SERVER_NAME=
DICTIONARIES=de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru
EXTRA_PARAMS=--o:ssl.enable=false --o:ssl.termination=true
CONTAINER_NAME=collabora
