CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8200
CONFIG_PATH=./data/config
BACKUPS_PATH=./data/backups
SOURCE_PATH=./data/source
SETTINGS_ENCRYPTION_KEY=replace-with-a-random-settings-key
TIME_ZONE=Asia/Shanghai
