PANEL_DB_TYPE=mysql
PANEL_DB_HOST=mysql
PANEL_DB_PORT=3306
PANEL_DB_NAME=forgejo
PANEL_DB_USER=forgejo
PANEL_DB_USER_PASSWORD=forgejo
PANEL_APP_PORT_HTTP=3000
PANEL_APP_PORT_SSH=222
CONTAINER_NAME=forgejo
