CONTAINER_NAME=
PANEL_APP_PORT_HTTP=1337
CONFIG_PATH=./data/config
BASE_URL=http://localhost:1337
DB_PASSWORD=planka-change-me
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=planka-admin-change-me
DEFAULT_ADMIN_NAME=Planka Admin
SECRET_KEY=change-this-secret-key-32-characters
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
