CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8384
PANEL_APP_PORT_SYNC_TCP=22000
PANEL_APP_PORT_SYNC_UDP=22000
PANEL_APP_PORT_DISCOVERY=21027
CONFIG_PATH=./data/config
DATA1_PATH=./data/data1
DATA2_PATH=./data/data2
TIME_ZONE=Asia/Shanghai
