CONTAINER_NAME=
PANEL_APP_PORT_HTTP=3000
CONFIG_PATH=./data/config
DB_HOST=hedgedoc-db
DB_PORT=3306
DB_USER=hedgedoc
DB_NAME=hedgedoc
DB_PASSWORD=hedgedoc-change-me
CMD_DOMAIN=localhost
CMD_URL_ADDPORT=true
CMD_PROTOCOL_USESSL=false
CMD_PORT=3000
CMD_ALLOW_ORIGIN=['localhost']
CMD_DB_DIALECT=mariadb
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
