CONTAINER_NAME=slskd
PANEL_APP_PORT_HTTP=5030
PANEL_APP_PORT_SOULSEEK=50300
SLSKD_WEB_USERNAME=slskd
SLSKD_WEB_PASSWORD=replace-with-a-strong-web-password
SLSKD_NETWORK_USERNAME=
SLSKD_NETWORK_PASSWORD=
TZ=Asia/Shanghai
