CONTAINER_NAME=opencloud
PANEL_APP_PORT_HTTPS=4443
PANEL_APP_PORT_HTTP=4080
OC_DOMAIN=cloud.opencloud.test
INITIAL_ADMIN_PASSWORD=replace-with-a-strong-password
APP_DATA_DIR=./data
DOCKER_SOCKET_PATH=/var/run/docker.sock
TZ=Asia/Shanghai
