CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8787
CONFIG_PATH=./data/config
BOOKS_PATH=./data/books
DOWNLOADS_PATH=./data/downloads
BOOKS_PATH=./data/books
DOWNLOADS_PATH=./data/downloads
TIME_ZONE=Asia/Shanghai
