PANEL_APP_PORT_HTTP=4000
PANEL_DB_HOST=
PANEL_DB_PORT=5432
PANEL_DB_NAME=keila
PANEL_DB_USER=keila
PANEL_DB_USER_PASSWORD=
KEILA_USER=root@localhost
KEILA_PASSWORD=
SECRET_KEY_BASE=
URL_HOST=localhost
URL_SCHEMA=http
URL_PORT=4000
APP_DATA_DIR=./data
MAILER_SMTP_HOST=
MAILER_SMTP_PORT=587
MAILER_SMTP_FROM_EMAIL=
MAILER_SMTP_USER=
MAILER_SMTP_PASSWORD=
MAILER_ENABLE_SSL=false
MAILER_ENABLE_STARTTLS=false
LOG_LEVEL=info
TZ=Asia/Shanghai
CONTAINER_NAME=
