PANEL_APP_PORT_HTTP=4040
CONFIG_PATH=./data/config
MUSIC_PATH=./data/music
PLAYLISTS_PATH=./data/playlists
PODCASTS_PATH=./data/podcasts
MEDIA_PATH=./data/media
CONTEXT_PATH=
JAVA_OPTS=
TIME_ZONE=Asia/Shanghai
CONTAINER_NAME="airsonic-advanced-linuxserver"
