PANEL_APP_PORT_HTTP=15081
PANEL_APP_PORT_MAILHOG=18025
TZ=Asia/Shanghai
APP_DATA_DIR=./data
BASE_URL=http://localhost:15081
POSTGRES_PASSWORD=fider-postgres-change-me
JWT_SECRET=fider-jwt-change-me-please-use-a-long-random-secret
EMAIL_NOREPLY=noreply@example.com
EMAIL_SMTP_HOST=fider-mailhog
EMAIL_SMTP_PORT=1025
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=
EMAIL_SMTP_ENABLE_STARTTLS=false
EMAIL_SMTP_ENABLE_IMPLICIT_TLS=false
CONTAINER_NAME=
