CONTAINER_NAME=
DISCORD_TOKEN=replace-with-discord-bot-token
OVERSEERR_API=replace-with-overseerr-api-key
OVERSEERR_URL=http://localhost:5055
RADARR_API=
RADARR_URL=http://localhost:7878
SONARR_API=
SONARR_URL=http://localhost:8989
SONARR_QUALITY_PROFILE=
RADARR_QUALITY_PROFILE=
SONARR_ROOTFOLDER=
RADARR_ROOTFOLDER=
SONARR_LANGUAGE_PROFILE=
OVERSEERR_DEFAULT_ID=
DISCORD_MAX_RESULTS=25
DISCORD_REQUESTED_MSG_STYLE=:plain
PARTIAL_SEASONS=true
LOG_LEVEL=:info
JAVA_OPTS=
CONFIG_PATH=./data/config
TIME_ZONE=Asia/Shanghai
