CONTAINER_NAME=
DISCORD_TOKEN=replace-with-discord-bot-token
OVERSEERR_API=replace-with-overseerr-api-key
OVERSEERR_URL=http://localhost:5055
RADARR_API=
RADARR_URL=http://localhost:7878
SONARR_API=
SONARR_URL=http://localhost:8989
DISCORD_MAX_RESULTS=25
DISCORD_REQUESTED_MSG_STYLE=:plain
PARTIAL_SEASONS=true
LOG_LEVEL=:info
CONFIG_PATH=./data/config
TIME_ZONE=Asia/Shanghai
