CONTAINER_NAME=godoxy
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8080
PANEL_APP_PORT_HTTPS=8443
GODOXY_WEBUI_HOST=godoxy.local
GODOXY_API_USER=admin
GODOXY_API_PASSWORD=
GODOXY_API_JWT_SECRET=generate
APP_DATA_DIR=./data
