CONTAINER_NAME="calibre-web"
PANEL_APP_PORT_HTTP="40109"
CONFIG_PATH="./data/config"
DATA_PATH="./data/books"
TIME_ZONE="Asia/Shanghai"
DOCKER_MODS="linuxserver/mods:universal-calibre"
OAUTHLIB_RELAX_TOKEN_SCOPE="1"
