CONTAINER_NAME=documenso
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=3000
NEXT_PUBLIC_WEBAPP_URL=http://127.0.0.1:3000
PANEL_DB_TYPE=postgresql
PANEL_DB_HOST=postgresql
PANEL_DB_PORT=5432
PANEL_DB_NAME=documenso
PANEL_DB_USER=documenso
PANEL_DB_USER_PASSWORD=change-me
NEXT_PRIVATE_DATABASE_URL=generate
NEXTAUTH_SECRET=generate
NEXT_PRIVATE_ENCRYPTION_KEY=generate
NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY=generate
SIGNING_PASSPHRASE=generate
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_NAME=Documenso
SMTP_FROM_ADDRESS=documenso@example.com
DISABLE_SIGNUP=false
