PANEL_APP_PORT_HTTP=18086
TZ=Asia/Shanghai
APP_DATA_DIR=./data
FRONTEND_URL=http://1.2.3.4:18086
SECRET_KEY_BASE=chatwoot_secret_key_base
POSTGRES_PASSWORD=chatwoot_postgres_password
REDIS_PASSWORD=chatwoot_redis_password
ENABLE_ACCOUNT_SIGNUP=true
CONTAINER_NAME=chatwoot
