CONTAINER_NAME="seatable"
DATA_PATH="./data"
JWT_PRIVATE_KEY="replace-with-a-random-secret-of-at-least-32-characters"
PANEL_APP_PORT_HTTP="40154"
PANEL_DB_HOST="mysql"
PANEL_DB_PORT="3306"
PANEL_DB_ROOT_PASSWORD="mysql_root_password"
SEATABLE_MYSQL_DB_USER="seatable"
SEATABLE_MYSQL_DB_PASSWORD="seatable_password"
REDIS_HOST="redis"
PANEL_REDIS_ROOT_PASSWORD="redis_password"
REDIS_PORT="6379"
SEATABLE_MYSQL_DB_DTABLE_DB_NAME="seatable_dtable_db"
SEATABLE_MYSQL_DB_CCNET_DB_NAME="seatable_ccnet_db"
SEATABLE_MYSQL_DB_SEAFILE_DB_NAME="seatable_seafile_db"
TIME_ZONE="Asia/Shanghai"
SERVER_HOSTNAME="example.seatable.com"
