CONTAINER_NAME="joplin"
PANEL_APP_PORT_HTTP=40339
PANEL_APP_PORT_HTTPS=40340
PUID=1000
PGID=1000
CUSTOM_USER=admin
PASSWORD=linuxserver-change-me
TITLE=Joplin
SELKIES_UI_TITLE=Selkies
DASHBOARD=selkies-dashboard
LC_ALL=zh_CN.UTF-8
TZ=Asia/Shanghai
SHM_SIZE=1gb
