PANEL_APP_PORT_HTTP=5080
PANEL_APP_PORT_GRPC=5081
OPENOBSERVE_ROOT_EMAIL=root@example.com
OPENOBSERVE_ROOT_PASSWORD=Oo1!replace-with-a-secure-password
OPENOBSERVE_TELEMETRY=false
OPENOBSERVE_COOKIE_SECURE_ONLY=false
APP_DATA_DIR=./data
CONTAINER_NAME=openobserve
