PANEL_APP_PORT_HTTP=18091
TZ=Asia/Shanghai
APP_DATA_DIR=./data
MISSKEY_URL=http://localhost:18091/
POSTGRES_PASSWORD=misskey_db_password
MISSKEY_SETUP_PASSWORD=misskey_setup_password
CONTAINER_NAME=misskey
