CONTAINER_NAME=
PANEL_APP_PORT_HTTP=3000
CONFIG_PATH=./data/config
DB_PASSWORD=hedgedoc-change-me
CMD_DOMAIN=localhost
CMD_URL_ADDPORT=true
CMD_PROTOCOL_USESSL=false
CMD_ALLOW_ORIGIN=['localhost']
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
