CONTAINER_NAME="wireguard-ui"
PANEL_APP_PORT_HTTP="40073"
DATA_PATH="./data"
WEBUI_PWD="password"
WEBUI_USER="admin"
PANEL_APP_PORT_WIREGUARD="51820"
SESSION_SECRET="replace-with-random-session-secret"
SESSION_MAX_DURATION="90"
BASE_PATH=""
WGUI_LOG_LEVEL="INFO"
WGUI_SERVER_INTERFACE_ADDRESSES="10.252.1.0/24"
WGUI_DNS="1.1.1.1"
WGUI_MTU="1450"
WGUI_PERSISTENT_KEEPALIVE="15"
WGUI_DEFAULT_CLIENT_ALLOWED_IPS="0.0.0.0/0"
WGUI_DEFAULT_CLIENT_USE_SERVER_DNS="true"
WGUI_DEFAULT_CLIENT_ENABLE_AFTER_CREATION="true"
WGUI_MANAGE_START="false"
WGUI_MANAGE_RESTART="true"
