CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8080
CONFIG_PATH=./data/config
APP_KEY=base64:replace-with-generated-app-key
APP_URL=https://assets.example.com
APP_FORCE_TLS=false
MYSQL_PORT_3306_TCP_ADDR=snipe-it-db
MYSQL_PORT_3306_TCP_PORT=3306
MYSQL_DATABASE=snipeit
MYSQL_USER=snipeit
DB_PASSWORD=replace-with-db-password
APP_LOCALE=
MAIL_HOST=
MAIL_PORT=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_ENCRYPTION=
MAIL_USERNAME=
MAIL_PASSWORD=
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
