CONTAINER_NAME=
PANEL_APP_PORT_HTTP=8080
CONFIG_PATH=./data/config
APP_KEY=base64:K4tN8COBEIginakyKQ4SGfoAskVW1leA/A0qSEDucFQ=
APP_URL=http://localhost:8080
DB_PASSWORD=snipeit-change-me
APP_LOCALE=
MAIL_HOST=
MAIL_PORT=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_ENCRYPTION=
MAIL_USERNAME=
MAIL_PASSWORD=
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
