CONTAINER_NAME="next-terminal"
PANEL_APP_PORT_HTTP="40058"
PANEL_APP_PORT_SSH="40059"
DATA_PATH="./data"
PANEL_DB_NAME="next_terminal"
PANEL_DB_USER="next_terminal"
PANEL_DB_USER_PASSWORD="next_terminal"
