PANEL_APP_PORT_HTTP=18087
ROOT_URL=http://127.0.0.1:18087
TZ=Asia/Shanghai
APP_DATA_DIR=./data
REG_TOKEN=
ADMIN_USERNAME=admin
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASS=rocket_admin_password
CONTAINER_NAME=rocketchat
