CONTAINER_NAME=sqlpage-compose-check
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=8080
SQLPAGE_ENVIRONMENT=production
LOG_LEVEL=sqlpage=info
SQLPAGE_COMPRESS_RESPONSES=false
SQLPAGE_MAX_UPLOADED_FILE_SIZE=5242880
APP_DATA_DIR=./data
