CONTAINER_NAME=podfetch
PANEL_APP_BIND_ADDRESS=0.0.0.0
PANEL_APP_PORT_HTTP=40100
PUID=1000
PGID=1000
POLLING_INTERVAL=60
BASIC_AUTH=true
PODFETCH_USERNAME=admin
PODFETCH_PASSWORD=replace-with-a-strong-password
PODCASTS_DIR=./data/podcasts
DATABASE_DIR=./data/db
