CONTAINER_NAME=
PANEL_APP_PORT_HTTP=80
PANEL_APP_PORT_HTTPS=443
CONFIG_PATH=./data/config
DB_HOST=monica-db
DB_PORT=3306
DB_USERNAME=monica
DB_DATABASE=monica
DB_PASSWORD=monica-change-me
APP_URL=http://localhost
TRUSTED_PROXIES=
APP_ENV=local
APP_DISABLE_SIGNUP=true
DB_DATA_PATH=./data/db
TIME_ZONE=Asia/Shanghai
