PANEL_APP_PORT_HTTP=18090
APP_DATA_DIR=./data
ROUNDCUBEMAIL_DEFAULT_HOST=ssl://mail.example.com
ROUNDCUBEMAIL_DEFAULT_PORT=993
ROUNDCUBEMAIL_SMTP_SERVER=tls://mail.example.com
ROUNDCUBEMAIL_SMTP_PORT=587
ROUNDCUBEMAIL_USERNAME_DOMAIN=
ROUNDCUBEMAIL_REQUEST_PATH=/
ROUNDCUBEMAIL_PLUGINS=archive,zipdownload
ROUNDCUBEMAIL_DES_KEY=roundcube_des_key_change
CONTAINER_NAME=roundcube
