CONTAINER_NAME="claper"
PANEL_APP_PORT_HTTP="4000"
PANEL_DB_HOST="postgresql"
PANEL_DB_PORT="5432"
PANEL_DB_NAME="claper"
PANEL_DB_USER="claper"
PANEL_DB_USER_PASSWORD="change-me"
SECRET_KEY_BASE="generate-a-secret-at-install"
BASE_URL="http://localhost:4000"
ENABLE_ACCOUNT_CREATION="true"
EMAIL_CONFIRMATION="false"
