CONTAINER_NAME="mixspace"
PANEL_APP_PORT_HTTP="40203"
DATA_PATH="./data"
ALLOWED_ORIGINS="example.com"
ENCRYPT_ENABLE="false"
ENCRYPT_KEY=""
JWT_SECRET="replace-with-16-32-char-jwt-secret"
PG_PASSWORD="replace-with-postgres-password"
TIME_ZONE="Asia/Shanghai"
SUBNET_PREFIX="10.250.0"
