PANEL_APP_PORT_HTTP=15601
TZ=Asia/Shanghai
KIBANA_PUBLIC_BASE_URL=http://localhost:15601
KIBANA_I18N_LOCALE=zh-CN
ES_JAVA_OPTS=-Xms512m -Xmx512m
ELASTIC_PASSWORD=kibana_elastic_password_change_me
KIBANA_SYSTEM_PASSWORD=kibana_system_password_change_me
CONTAINER_NAME=kibana
