CONTAINER_NAME="firefox-browser"
DATA_PATH="./data"
FIREFOX_CLI=https://www.linuxserver.io/
TITLE=Firefox
SELKIES_UI_TITLE=Selkies
DASHBOARD=selkies-dashboard
HTTP_PWD="Password"
LC_ALL=zh_CN.UTF-8
HTTP_USER="user"
MEM_USE="512m"
PANEL_APP_PORT_HTTP="40089"
PANEL_APP_PORT_HTTPS="40090"
