CONTAINER_NAME=oci-mirror
PANEL_APP_PORT_HTTP=8443
PANEL_APP_PORT_MANAGEMENT=19090
PANEL_APP_PORT_EGRESS=19443
OCI_MIRROR_PUBLIC_HOST=mirror.example.com
OCI_MIRROR_SOURCE_IPV4=
OCI_MIRROR_IP_ALLOWLIST=
OCI_MIRROR_CHINA_CIDR_FILE=
OCI_MIRROR_CHINA_CIDR_SOURCE=APNIC delegated statistics
OCI_MIRROR_CHINA_CIDR_UPDATED=
OCI_MIRROR_TLS_ENABLED=false
OCI_MIRROR_TLS_DIR=
APP_DATA_DIR=./data
OCI_MIRROR_MANAGEMENT_TOKEN=
OCI_MIRROR_EGRESS_TOKEN=
TIME_ZONE=Asia/Shanghai
