CONTAINER_NAME="wireguard-ui"
PANEL_APP_PORT_HTTP="40073"
DATA_PATH="./data"
WEBUI_PWD="password"
WEBUI_USER="admin"
PANEL_APP_PORT_WIREGUARD="51820"
SESSION_SECRET="replace-with-random-session-secret"
BASE_PATH=""
WGUI_LOG_LEVEL="INFO"
WGUI_MANAGE_START="false"
WGUI_MANAGE_RESTART="true"
