CONTAINER_NAME=asciinema-server
PANEL_APP_BIND_ADDRESS=127.0.0.1
PANEL_APP_PORT_HTTP=4000
ASCIINEMA_URL_SCHEME=http
ASCIINEMA_URL_HOST=asciinema.local
ASCIINEMA_URL_PORT=4000
ASCIINEMA_SECRET_KEY_BASE=generate
ASCIINEMA_POSTGRES_PASSWORD=generate
ASCIINEMA_SIGN_UP_DISABLED=false
ASCIINEMA_UPLOAD_AUTH_REQUIRED=true
ASCIINEMA_TIMEZONE=UTC
APP_DATA_DIR=./data
