CONTAINER_NAME="dailytxt"
APP_DATA_DIR="./data"
PANEL_APP_PORT_HTTP=8000
TZ="Asia/Shanghai"
SECRET_TOKEN=""
ADMIN_PASSWORD=""
ALLOW_REGISTRATION="false"
INDENT="4"
LOGOUT_AFTER_DAYS="40"
BASE_PATH=""
