PANEL_APP_PORT_HTTP=18087
PANEL_APP_PORT_MAILPIT=18028
TZ=Asia/Shanghai
APP_DATA_DIR=./data
CLEARFLASK_DOMAIN=localhost
CLEARFLASK_SUPER_ADMIN_EMAIL_REGEX=^admin@localhost$
CLEARFLASK_SIGNUP_ENABLED=true
CLEARFLASK_AUTH_COOKIE_SECURE=false
MYSQL_ROOT_PASSWORD=clearflask_mysql_password
EMAIL_SERVICE=smtp
SMTP_STRATEGY=SMTP
SMTP_HOST=clearflask-mailpit
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_DISPLAY_NAME=ClearFlask
SMTP_FROM_LOCAL_PART=noreply
SMTP_FROM_DOMAIN_OVERRIDE=localhost
CONTAINER_NAME=clearflask
